.sidebar {
  background: var(--mantine-color-body);
}

.link {
  border-radius: 8px;
  margin-bottom: 4px;
  transition: background-color 150ms;

}

.link:hover {
  background: var(--mantine-color-gray-1);
}

.link[data-active] {
  background: var(--mantine-color-blue-6);
  color: var(--mantine-color-text)
}

.link[data-active] svg {
  color: var(--mantine-color-text)
}

.linkLabel {
  font-size: 14px;
  font-weight: 500;
  color: var(--mantine-color-text)
}